.contact-clean {
   min-height : 100vh;
   background : #F1F7FC;
}

@media (max-width : 767px) {
   .contact-clean {
      padding : 5px 0;
   }
}

.contact-clean form {
   width            : 600px;
   max-width        : 100%;
   margin           : auto;
   padding          : 5px;
   color            : #505E6C;
   border-radius    : 4px;
   background-color : #FFFFFF;
   box-shadow       : 1px 1px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width : 767px) {
   .contact-clean form {
      padding : 5px;
   }
}

.contact-clean h2 {
   font-size     : 28px;
   font-weight   : bold;
   margin-top    : 5px;
   margin-bottom : 36px;
   color         : inherit;
}

.contact-clean .form-group:last-child {
   margin-bottom : 5px;
}

.contact-clean form .form-control {
   height        : 42px;
   padding-left  : 12px;
   color         : inherit;
   border-radius : 2px;
   outline       : none;
   background    : #FFFFFF;
   box-shadow    : 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.contact-clean form .form-control:focus {
   border : 1px solid #B2B2B2;
}

.contact-clean form textarea.form-control {
   min-height  : 100px;
   max-height  : 260px;
   padding-top : 10px;
   resize      : vertical;
}

.contact-clean form .btn {
   font-size      : 13px;
   font-weight    : bold;
   line-height    : 1;
   padding        : 16px 32px;
   letter-spacing : 0.4px;
   text-transform : uppercase;
   opacity        : 0.9;
   border         : none;
   outline        : none !important;
   background     : none;
   box-shadow     : none;
   text-shadow    : none;
}

.contact-clean form .btn:hover {
   opacity : 1;
}

.contact-clean form .btn:active {
   transform : translateY(1px);
}

.contact-clean form .btn-primary {
   margin-top       : 15px;
   color            : #FFFFFF;
   background-color : #055ADA !important;
}

.contact-clean form .clearCookiesButton {
   margin-top       : 15px;
   color            : #FFFFFF;
   background-color : #ff0800 !important;
}
